mixin modal()
	//  start modals
	+b.modal-win(id="modal-call" style="display: none")
		+form-wrap
			.text-center
				+e.H4.title Заказать звонок
				+e.descr
					| Заполните форму и мы свяжемся с Вами в ближайшее
					br
					| время для уточнения деталей
				+e.inputs
					+input('Ваше имя', 'text', undefined, 'name')
					+input('+7 (___)-___-__-__', 'tel', undefined, 'name')
				+e.BUTTON.btn(type="submit") Заказать звонок
			+policy()
	+b.modal-win(id="modal-thanks" style="display: none")
		+b.form-wrap.text-center
			+e.H4.title Заказать звонок
			+e.descr
				| Мы свяжемся с Вами в ближайшее время
				|
				br.d-none.d-ss-block
				| для уточнения деталей
			+e.btn.modal-close-js(href="#") Закрыть
	+b.modal-win(id="modal-request" style="display: none")
		+form-wrap
			.text-center
				+e.H4.title Оставить заявку
				+e.descr
					| Заполните форму и мы свяжемся с Вами в ближайшее
					|
					br.d-none.d-ss-block
					| время для уточнения деталей
				+e.item-row.row.text-start
					.col-auto
						+e.i-img
							img(src="img/@2x/pen-sm.jpg" alt="")
					.col
						+e.i-data Ручка шариковая Pin Special, белая
						+e.i-article Артикул: 345240
						+e.i-price 24 000 ₽
				+e.inputs
					+input('Ваше имя', 'text', undefined, 'name')
					+input('+7 (___)-___-__-__', 'tel', undefined, 'name')
				+e.BUTTON.btn(type="submit") Заказать звонок
			+policy()
	// #modal-call

mixin policy()
	+b.LABEL.chb-custom.align-items-center
		input(type='checkbox' checked)
		.square
		.txt
			span
				| Нажимая на кнопку “Отправить” вы даете согласие на обработку и хранение персональных данных в соответствии с
				|
			a(href="#") Условиями