// start .sContact
.sContact {
	--sPT: 0;

	--sPB: 60px;
	--sTPB: 39px;
	@include media-breakpoint-up(lg){
		--sPB: 90px;
		--sTPB: 42px;
	}

	.breadcrumb{

		margin: 28px 0 13px;
		@include media-breakpoint-up(lg){
			margin: 18px 0 0px;
		}
	}

	.section-title{
		h1,h2{
			@include media-breakpoint-up(ss){
				font-size: 36px;
				line-height: 45px;
			}
		}
	}
	&__main-row{
		padding-bottom: 49px;
		@include media-breakpoint-up(xl){
			padding-bottom: 60px;
			@include roww(78px);
		}
	}

	//title-col
	&__title-col{
		@include media-breakpoint-down(md){
			margin-bottom: 41px;
		}
	}
	&__item{
		margin-bottom: 21.5px;
	}
	&__i-title{
		line-height: 1.75;
	}
	&__i-mail{
		text-decoration: underline;
		&:hover{
			opacity: .8;
			text-decoration: none;
		}
	}

	&__i-tel{
		font-weight: bold;
		color: $body-color;
		&:hover{
			color: $primary;
		}
	}
	&__i-address{

	}
	&__shedule{
		color: $gray-600;
	}

	//r-col
	&__sub-title{
		font-weight: bold;
		line-height: 1.75;

		margin-bottom: 26px;
	}

	.form-wrap{
		&__input-wrap{
			padding: 0;
			margin: 0 0 12px 0;
			textarea{
				min-height: 96px;
			}
		}
		&__input{

		}
		&__btn{
			@extend .btn;
			@extend .btn-primary;

			width: 100%;
			@include media-breakpoint-up(ss){
				min-width: 148px;
				width: auto;
			}
		}
		&__poclicy-col{
			width: 100%;
			padding-top: 10px;
			@include media-breakpoint-up(ss){
				padding-top: 0;
				width: calc(100% - 148px - 48px);
			}

		}
		&__row{
			padding-top: 12px;
			@include media-breakpoint-up(ss){
				@include roww(24px);
				align-items: center;

				& > *{
					margin-bottom: 0;
				}
				margin-bottom: 0;
			}
		}
		&__{}
		&__{}
	}
	&__map{
		border-radius: 12px;
		overflow: hidden;

		height: 360px;
		width: 100%;

		position: relative;
		z-index: 1;
	}
	&__map-img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//
	&__{}
	&__{}
} // end.sContact