:root {
	--animate-delay: 1.2s;
	--fontSizeBase: #{$em-base};

	--sPT: 52px;
	--sPB: 60px;
	--sTPB: 36px;
	@include media-breakpoint-up(md){
		--sPT: 30px;
		--sPB: 60px;
		--sTPB: 31px;
	}

	--HeadHeight: 158px;
	@include media-breakpoint-up(sm){
		--HeadHeight: 138px;
	}
	@include media-breakpoint-up(lg){
		--HeadHeight: 120px;
	}

	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;


}