.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-chevron-left {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-chevron-right {
	font-size:(12/10)*1rem;
	width:(8/12)*1em;
}
.icon-cross {
	font-size:(24/10)*1rem;
	width:(24/24)*1em;
}
.icon-fb {
	font-size:(18/10)*1rem;
	width:(10/18)*1em;
}
.icon-search {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-telegram {
	font-size:(17/10)*1rem;
	width:(16/17)*1em;
}
.icon-twitter {
	font-size:(13/10)*1rem;
	width:(17/13)*1em;
}
.icon-vk {
	font-size:(12/10)*1rem;
	width:(18/12)*1em;
}
