extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sHit/_sHit.pug
include ../blocks/sSeo/_sSeo.pug
include ../blocks/sCategory/_sCategory.pug
include ../blocks/s404/_s404.pug
include ../blocks/sPolicy/_sPolicy.pug

block variables
	- let  mainPage= null
block title
	- let  title= '00-modals'
	title= title
block pagecontent
	+mob-mnu()
	+catalogPP()
	+header()
		+topStrip()
		+top-nav()
	.section
		.container
			.row.row--def
				.col-auto
					a.btn.btn-primary.link-modal(href="#modal-call") Заказать звонок
				.col-auto
					a.btn.btn-primary.link-modal(href="#modal-thanks") Спасибо за обращение
				.col-auto
					a.btn.btn-primary.link-modal(href="#modal-request") Оставить заявку
	+footer()