extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sHit/_sHit.pug
include ../blocks/sSeo/_sSeo.pug
include ../blocks/sCategory/_sCategory.pug

block variables
	- let  mainPage= null
block title
	- let  title= '09-1-search'
	title= title
block pagecontent
	+mob-mnu()
	+catalogPP()
	+header()
		+topStrip()
		+top-nav()
	+sCategorySearch1()
		+breadcrumb('Главная', 'Результаты поиска')
	+footer()