mixin sDelivery(data)
	// start sDelivery
	+b.SECTION.sDelivery.section#sDelivery&attributes(attributes)
		.container
			block
			+b.section-title
				h1 Доставка
			+e.box
				+e.H4.blue-title Доставка по Москве и МО
				+e.black-title Для доставки по Москве и Московской области действуют следующие условия:
				ul
					li бесплатно — при заказе на сумму от 70 000 рублей и расположении заказчика в пределах МКАД;
					li 1000 рублей — для заказов на сумму менее 70 000 рублей и при расположении офиса заказчика в пределах МКАД;
					li от 2500 рублей — при расположении офиса заказчика за пределами МКАД независимо от суммы заказа.
			+e.box--2
				+e.H4.blue-title Доставка в регионы России
				+e.txt
					p Отправка в любые регионы осуществляется выбранной заказчиком транспортной компанией после комплектации заказа. Срок доставки составляет 3-7 дней после забора груза и зависит от удаленности пункта назначения.
					p Стоимость доставки можно уточнить на сайтах транспортных компаний. Всю организацию отправки грузов наши менеджеры могут организовать для вас бесплатно.
					p При отгрузке продукции транспортной компании ответственность за сохранность груза и сроки доставки переходит к транспортной компании с момента передачи продукции в транспортную компанию.
			+e.box--last
				+e.H4.blue-title Самовывоз
				+e.txt
					p Любой выполненный заказ можно забрать с нашего склада самостоятельно в рабочие часы с 10-00 до 18-00 по московскому времени.
					p Отгрузка готовой продукции возможна только при наличии доверенности или печати юридического лица Заказчика.
			+e.delivery-form
				+e.df-title.text-center Оставить заявку
				+form-wrap()
					+e.row.row.row--def
						+e.col--inp.col-12
							+input('Ваше имя', 'text', undefined, 'name')
						+e.col--inp.col-12
							+input('Ваш телефон', 'text', undefined, 'name')
						+e.col--btn.col-12
							+e.BUTTON.btn(type="submit") Отправить
					.text-lg-center
						+customInp()(checked)
							span
								| Нажимая на кнопку “Отправить” вы даете согласие на обработку и хранение персональных данных в соответствии с
								|
							a(href="#") Условиями
	// end sDelivery

mixin customInp(classes, type="checkbox")
	+b.LABEL.chb-custom(class=classes)
		input(type=type)&attributes(attributes)
		.square
		.txt
			block