// start .header
.header {
	display: flex;
	flex-direction: column-reverse;
	@include media-breakpoint-up(lg){
		flex-direction: column;
	}

	height: var(--HeadHeight);
	width: 100%;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
} // end.header