mixin sArticle(data)
	// start sArticle
	+b.SECTION.sArticle.section#sArticle&attributes(attributes)
		.container
			block
			+b.section-title.text-center
				+e.img
					img(loading="lazy" src="img/@2x/sArticle-baner.jpg" alt="")
				h1 h1. Ежедневники в подарок. Как выбрать лучший?
				p 13 января 2021
			+e.main-row.row.row--def
				.col-lg-9
					+e.txt--alone
						p В преддверии Нового года и многих других праздников каждый из нас задумывается о предстоящих подарках. Получать презенты приятно, но не менее приятно их преподносить, особенно если сделан правильный выбор. Поздравить партнера, коллегу или начальника — дело не менее важное.
					+e.img-bl
						+e.img
							img(loading="lazy" src="img/@2x/sArticle-img.jpg" alt="")
						+e.img-sign Рис 1. Подпись
					h2 h2. Ежедневники в подарок. Как выбрать лучший?
					p
						strong В преддверии Нового года
						|
						| и многих других праздников каждый из нас задумывается о предстоящих подарках. Получать презенты приятно, но не менее
						a(href='#') приятно их преподносить
						| , особенно если сделан правильный выбор. Поздравить партнера, коллегу или начальника — дело не менее важное.
					h3 h3. Ежедневники в подарок. Как выбрать лучший?
					p В преддверии Нового года и многих других праздников каждый из нас задумывается о предстоящих подарках. Получать презенты приятно, но не менее приятно их преподносить, особенно если сделан правильный выбор. Поздравить партнера, коллегу или начальника — дело не менее важное.
					h4 h4. Ежедневники в подарок. Как выбрать лучший?
					ul
						//- —
						li Самовывоз;
						li Бесплатная доставка до адреса;
						li Для клиентов, расположенных в городе Москве и Московской области;
						li Транспортными компаниями-партнерами;
						li Транспортными компаниями, выбранными клиентом.
					h5 h5. Ежедневники в подарок. Как выбрать лучший?
					ol
						//- 1.
						li Самовывоз;
						li Бесплатная доставка до адреса;
						li Для клиентов, расположенных в городе Москве и Московской области;
						li Транспортными компаниями-партнерами;
						li Транспортными компаниями, выбранными клиентом.
				.col-lg-3.d-lg-block.d-none
					+categoryBar()
			+e.subscribe
				+e.s-title Поделиться:
				+b.social
					+e.item(href="#")
						img(loading="lazy" src='img/svg/tg.svg' alt="")
					+e.item(href="#")
						img(loading="lazy" src='img/svg/tw.svg' alt="")
					+e.item(href="#")
						img(loading="lazy" src='img/svg/fb.svg' alt="")
					+e.item(href="#")
						img(loading="lazy" src='img/svg/vk.svg' alt="")
	// end sArticle